@{
  Layout = "_Layout";
}
<h2>Thank you for visiting Eau Claire's Salon. Schedule your appointments here.</h2>
<hr />
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Add New Stylist", "Create", "Stylists")</p>
<p>@Html.ActionLink("Add New Client", "Create", "Clients")</p>
